@import url('./Inter-UI/inter-ui.css');
@import url('./fallience-colors.css');

* {
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter UI', sans-serif;
  background-color: black;
  color: white;
  font-size: 16px;
  overflow: hidden;
}

#sidebar {
  width: 205px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  background-color: black;
}

.sidebarButtonArray {
  width: 205px;
  min-height: 58px;
  margin-top: 20px;
  background-color: var(--color-black-1);
}

.sidebarButton {
  width: 205px;
  height: 58px;
  background-color: var(--color-black-1);
  color: white;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.sidebarButton:hover {
  background-color: var(--color-black-2);
  color: white;
}

.sidebarButtonActive {
  background-color: var(--color-amber-1);
  cursor: initial;
}

.sidebarButtonActive:hover {
  background-color: var(--color-amber-1);
}

#falliencePageButton {
  position: fixed;
  bottom: 20px;
  left: 0;

  font-weight: bold;
  color: #686868;
  letter-spacing: -0.014em;
}

#sourcePageButton {
  position: fixed;
  bottom: 78px;
  left: 0;

  font-weight: bold;
  color: #686868;
  letter-spacing: -0.014em;
}

.page {
  width: calc(100% - 205px);
  min-height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--color-black-2);
  color: white;
  border-radius: 8px 0 0 8px;
  visibility: hidden;
  z-index: 0;
  box-sizing: border-box;
  padding-left: 58px;
  padding-right: 58px;
  padding-top: 45px;
  overflow-y: auto;
}

.pageActive {
  visibility: visible;
  z-index: 1;
}

h1 {
  padding: 0;
  margin: 0;
}

#generatorOutput {
  margin-top: 26px;
  background-color: var(--color-black-3);
  padding: 26px;
  margin-top: 26px;
  width: 650px;
  border-radius: 8px;
  display: block;
  user-select: none;
  font-size: 26px;
  letter-spacing: -0.015em;
  overflow-wrap: break-word;
}

#generatorOutput:hover {
  background-color: var(--color-black-4);
}

#generatorOutput:active {
  background-color: var(--color-amber-1);
}

.websiteCard {
  background-color: var(--color-black-3);
  padding: 26px;
  margin-top: 26px;
  margin-right: 26px;
  width: 250px;
  border-radius: 8px;
  display: inline-block;
  user-select: none;
}

.websiteCard:hover {
  background-color: var(--color-black-4);
}

.websiteCard h2 {
  margin: 0;
  padding: 0;
}

.websiteCard p {
  margin: 0;
  padding: 0;
  padding-top: 13px;
}

#blocker {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

#passwordModal {
  width: 650px;
  height: 650px;
  background-color: var(--color-black-2);
  position: fixed;
  top: -650px;
  /* 325px because it's 650px/2 */
  left: calc(50% - 325px);
  z-index: 100;
  border-radius: 0 0 8px 8px;
}

.fadeIn {
  pointer-events: all !important;
  background-color: #00000075;
  transition: all .5s ease-out;
}

.slideIn {
  transition: all .5s ease-out;
  top: 0 !important;
}